 <section class="headerin" id="chrt_Header1">
    <div class="header">
        <div class="maxwidth">
            <div class="topheaderpart">
                <div class="topheader">
                    <div class="container">
                        <div class="headertop">
                            <div class="sitelogo">
                                <a href=""><span>Test</span></a>
                            </div>
                            <div class="headercontacts">
                                <p class="routeinq">Route Related Inquiry :>+91 9998800038</p>
                                <p>Payment & Cancellation :>9998800038</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="headerbottom">
                    <div class="container">
                        <div class="headerparts">
                            <div class="headermenu">
                                <div class="menufixed">
                                    <div class="navbar-header">
                                        <button data-toggle="collapse-side" data-target=".side-collapse" data-target-2=".side-collapse-container" type="button" class="navbar-toggle pull-left fixedbtn">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="navbar-inverse side-collapse in">
                                        <nav role="navigation" class="navbar-collapse">
                                            <div id='cssmenu' class="cssmenu" runat="server"></div>
                                            <div class="cssmenu">
                                                <ul class="nav navbar-nav">
                                                    <li id="sendHome"><a href="/">Home</a></li>
                                                    <li><a routerLink="/AboutUs">About</a></li>
                                                </ul>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                            <div class="loginwrap">
                                <a href="http://web.itspl.net/" target="_blank">Branch Login</a>
                                <a href="#" target="_blank">Agent Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section> 